/* :root {
    grid-column: 1;
    grid-row: 1;
  } */
  html, body, div.container{
    height: 100%;
    margin: 0;
    padding: 0;
}


  #container {
  display: grid;
  /* width: 50vw;
  height: 50vh; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100px;
  height: 100px;
  }

.grid-item {
  display: flex;
    padding: 2em;
    border: 1px solid ;
    text-align: center;
    justify-content: center;
    align-items: center;
  }